h6 {
    font-weight: 600 !important;
    letter-spacing: 2px;
    font-size: 14px;
    margin-bottom: 0px;
}

.brand_content {
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 40px;
}