* {
    font-family: Poppins, sans-serif;
    color: #827f80;
}

h6 {
    color: #6c6a6b;
    margin-top: 7px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: unset;
}

a:hover {
    color: unset;
}

.work_title {
    font-weight: 400 !important;
    letter-spacing: 2px;
    font-size: 13px;
}